@import "../../../assets/css/main.scss";

.formPlan{
    margin: 20px;
    padding: 20px;
    color: #088395;
    height: 0%;
    
}
.submitBtn{
    width: 33%;
    border-radius: 60px;
    border: 1px solid #6C757D;    
}

.clearBtn{
    border: 1px solid #6C757D;;
    width: 33%;
    margin-left: 16px;
    border-radius: 60px;
    background: #6C757D;     
         color: white;
        align-items: center;
    }
     
  